spark.hadoop.fs.s3a.impl                        org.apache.hadoop.fs.s3a.S3AFileSystem
spark.hadoop.fs.s3a.aws.credentials.provider    org.apache.hadoop.fs.s3a.SimpleAWSCredentialsProvider
spark.hadoop.fs.s3a.access.key                  <your key>
spark.hadoop.fs.s3a.secret.key                  <your secret>
spark.hadoop.fs.s3a.endpoint                    http://endpoint:port
spark.hadoop.fs.s3a.connection.ssl.enabled      false
spark.hadoop.fs.s3a.path.style.access           true

spark.ui.prometheus.enabled                     true
